<div class="header">
    <a href="/" title="rafahs logo">
        <div class="logo">
            <img src="https://mycolor.space/img/color-space-logo.png" alt="">
            <div class="logo-text">
                Rafael Honório
            </div>
        </div>
    </a>
    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#work">Work</a></li>
            <li><a href="#articles">Articles</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</div>

