<div class="header">
    <a class="btn-nav" routerLink="" title="Home" (click)="removeActive()">
        <div class="logo">
            <img src="https://i.imgur.com/LXNGwTa.png" alt="Cyberpunk Home">
        </div>
    </a>
    <div class="nav-bar">
        <nav>
            <ul>
                <li><a class="btn-nav" routerLink="/about" id="about" (click)="activeButton('about')">About</a></li>
                <li><a class="btn-nav" routerLink="/work" id="work" (click)="activeButton('work')">Work</a></li>
                <li><a class="btn-nav" routerLink="/articles" id="articles" (click)="activeButton('articles')">Articles</a></li>
                <li><a class="btn-nav" routerLink="/contact" id="contact" (click)="activeButton('contact')">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="mobile-box">
        <div class="mobile-button" id="mobileButton" (click)="toggleNavButton()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="mobile-nav hidden" id="mobileNav">
            <ul>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/work">Work</a></li>
                <li><a routerLink="/articles">Articles</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

