<div class="footer">
  <div>
    <p>
      © 2025 Developed by Rafael Honório
    </p>
  </div>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/rafael-hs" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/rafael-hs" target="_blank">
        <i class="fab fa-github-square" id="classe1"></i>
      </a>
    </li>
    <li>
      <a href="mailto:rafahs.tech@gmail.com" target="_blank">
        <i class="fas fa-envelope-square"></i>
      </a>
    </li>
    <li>
      <a href="https://rafael-hs.medium.com" target="_blank">
        <i class="fab fa-medium"></i>
      </a>
    </li>
  </ul>
</div>
