<div class="work">
  <button (click)="openAccordion('jaya')" (click)="activeButton('jaya_button')" class="accordion" id="jaya_button">
    <img src="/assets/jaya.jpg" alt="Jaya Tech">
    <div>
      <h3>
        Software Engineer @ Jaya Tech
      </h3>
      <p>
        Out 2020 - Present
      </p>
      <p>
        São Paulo, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="jaya">
    <p>Jaya is a company that offers people development in the
       software market, we believe that developing people delivers good code.</p>
    <p>At Jaya I already had the opportunity to work with NodeJS, a little bit
      with Clojure and now I’ve work with Elixir as a Backend Engineer.</p>
    <h5>Technologies:</h5>
    <ul>
      <li>- NodeJS (NestJS)</li>
      <li>-	Clojure </li>
      <li>-	Elixir (Phoenix)</li>
      <li>-	Retool </li>
      <li>-	Postgres SQL</li>
      <li>-	AWS</li>
    </ul>
  </div>

  <button (click)="openAccordion('itix')" (click)="activeButton('itix_button')" class="accordion" id="itix_button">
    <img src="/assets/itix.jpg">
    <div>
      <h3>
        Software Developer @ ITIX
      </h3>
      <p>
        Out 2019 - Out 2020
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="itix">
    <p>At ITIX I had opportunity to have many experiences as a Fullstack Developer,
       developing features and take care a maintenance for some products in national
       scale (Brazil) in HealthCare and insurance area.
    </p>
    <h5>Technologies:</h5>
    <ul>
      <h6>Backend</h6>
      <li>- Dotnet fullframework </li>
      <li>- Razor Templates</li>
      <li>- ElasticSearch (search engine)</li>
      <li>- Dapper (for database)</li>
      <li>- Xunit (for tests)</li>
    </ul>
    <ul>
      <h6>Frontend</h6>
      <li>- AngularJS</li>
      <li>- Angular 2+</li>
    </ul>
    <ul>
      <h6>Mobile</h6>
      <li>- Ionic 4+</li>
      <li>- Cordovas</li>
    </ul>
    <ul>
      <h6>Cloud</h6>
      <li>- Azure DevOps+</li>
      <li>- Azure WebJobs</li>
      <li>- Azure Pipelines</li>
      <li>- Azure Boards</li>
      <li>- Azure Repos</li>
    </ul>
    <ul>
      <h6>Database</h6>
      <li>- MSSQL SQLServer</li>
      <li>- MySQL</li>
    </ul>
  </div>

  <button (click)="openAccordion('sefaz')" (click)="activeButton('sefaz_button')" class="accordion" id="sefaz_button">
    <img src="/assets/sefaz.jpg">
    <div>
      <h3>
        Fullstack Developer @ SEFAZ
      </h3>
      <p>
        Mar 2019 - Sep 2019
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="sefaz">
    <p>At SEFAZ I started developing solutions for their systems and that has based in
       Microsoft ecosystem (dotnet core and dotnet framework) taking care of applications
       from maintenance to being deployed with Jenkins.
    </p>
    <h5>Technologies:</h5>
    <ul>
      <li>- Dotnet core</li>
      <li>- Dotnet fullframework </li>
      <li>- Razor Templaes</li>
      <li>- WebForms</li>
      <li>- Laravel</li>
      <li>- Lumen</li>
      <li>- RabbitMQ (Message Broker)</li>
      <li>- PLSQL Oracle DB</li>
      <li>- MSSQL Microsoft SQL Server</li>
      <li>- MySQL</li>
    </ul>
  </div>

  <button (click)="openAccordion('pentago')" (click)="activeButton('pentago_button')" class="accordion" id="pentago_button">
    <img src="/assets/pentago.jpg">
    <div>
      <h3>
        Developer Trainee @ Pentago
      </h3>
      <p>
        Sep 2018 - Mar 2019
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="pentago">
    <p>
      At Pentago I worked at system building and maintance in dotnet fullframework and razor templates, there I had
      experience in API integration, frontend design and modeling database.
    </p>
    <h5>Technologies:</h5>
    <ul>
      <li>- C# (dotnet fullframework, dotnet core and razor templates)</li>
      <li>- HTML, CSS and Javascript</li>
      <li>- PLSQL (Oracle Database)</li>
    </ul>
  </div>

  <button (click)="openAccordion('nexa')" (click)="activeButton('nexa_button')" class="accordion" id="nexa_button">
    <img src="/assets/nexa.jpg">
    <div>
      <h3>
        Service Desk Agent @ Nexa
      </h3>
      <p>
        Jun 2018 - Sep 2018
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="nexa">
    <p>At Nexa I worked as a support level 1 for Espirito Santo court of
       justice and I did some tasks, opening and closing tickets and in controlling permissions on systems.</p>
  </div>

  <button (click)="openAccordion('unisales')" (click)="activeButton('unisales_button')" class="accordion" id="unisales_button">
    <img src="/assets/sale.jpg">
    <div>
      <h3>
        Developer Trainee @ UniSales (Volunteer experience)
      </h3>
      <p>
        Apr 2018 - Jun 2018
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="unisales">
    <p>I worked in college at a project call software factory, where the students are responsible for the college software,
       in this opportunity I have contact with some technologies, amongst them.</p>
  </div>
</div>
