<div class="work">
  <button (click)="openAccordion('jaya')"class="accordion">
    <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQHFmyZdruY6oQ/company-logo_100_100/0/1633385820506?e=1642636800&v=beta&t=wzF1jajwRZ0yLiJXEbuMwYOoAaE0B2VJK9PhalhE6Uc" alt="">
    <div>
      <h3>
        Software Engineer @ Jaya Tech
      </h3>
      <p>
        Out 2020 - Present
      </p>
      <p>
        São Paulo, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="jaya">
    <p> At Jaya I already had the opportunity to work with Node, a little bit with clojure and now I've work with elixir as a backend engineer.</p>
  </div>

  <button (click)="openAccordion('itix')"class="accordion">
    <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGy2sYVBszELQ/company-logo_100_100/0/1628792599977?e=1643241600&v=beta&t=cvXvKvbmtVLUI-1pmFB1N6wwdoeQ0TftdUIYMrnRZqo">
    <div>
      <h3>
        Software Developer @ ITIX
      </h3>
      <p>
        Out 2019 - Out 2020
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="itix">
    <p>At Itix I had many experiences as a fullstack developer, developing features and bugfixes for some products in national scale (Brazil), in HealthCare area. Technologies I used:

      • DotNet full framework
      • DotNet core
      • AngularJS
      • Angular 2+
      • Ionic 4+
      • Cordova
      
      Some others technologies for help in developing process like ElasticSearch, Dapper, Azure WebJobs, Xunit for tests with SQLServer.
      
      In portuguese ↓↓↓↓
      
      Na Itix eu tive algumas experiencias como fullstack, desenvolvendo features e correções para alguns produtos de escala nacional, na área da saúde. As tecnologias usadas:
      
      • DotNet full framework
      • DotNet core
      • AngularJS
      • Angular 2+
      • Ionic 4+
      • Cordova
      
      algumas outras tecnologias para auxiliar no desenvolvimento como ElasticSearch, Dapper, Azure WebJobs e Xunit para testes, utilizando SQLServer.</p>
  </div>

  <button (click)="openAccordion('sefaz')"class="accordion">
    <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQHv8dqxiSuL0g/company-logo_100_100/0/1550375767361?e=1643241600&v=beta&t=PbYvfJRHhWP6jn2Xj_mfB_73wb74_FkO7qxNm0ZAayI">
    <div>
      <h3>
        Fullstack Developer @ SEFAZ
      </h3>
      <p>
        Mar 2019 - Sep 2019
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="sefaz">
    <p>Desenvolvendo soluções para os sistemas da secretaria de estado da fazenda do espírito santo, baseado no ecossistema de tecnologias da microsoft(.NetCore e FullFramework) desde manutenção até deploy das aplicações via jenkins, utilizando Oracle e MSSQL SERVER para armazenamento de dados.

      - Development API's (.netcore)
      - Message Broker (RabbitMQ)
      - FrontEnd (Razor templates)
      - Legacy systems (Webforms, .Net FullFramework)
      - Laravel (PHP)
      ____________________________________________________________________
      
      Developing solutions for the systems of the secretary of the state of Espírito Santo (Brazil) with tecnologies Microsoft.</p>
  </div>

  <button (click)="openAccordion('pentago')"class="accordion">
    <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQHSA-E03UYZWw/company-logo_100_100/0/1519904856343?e=1643241600&v=beta&t=jVfqr3KBATVmdcfW5wW4p-VZke2jxCjOobTbZIozNtQ">
    <div>
      <h3>
        Developer Trainee @ Pentago
      </h3>
      <p>
        Sep 2018 - Mar 2019
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="pentago">
    <p>Aplicando correções e desenvolvendo funcionalidades para um sistema web
      junto ao cliente, é sistema legado do IDAF, as
      aplicações são em .net full com banco de dados Oracle.
      
      In English ↓
      
      Applying patches and developing features for a web system
      with the client, based on a legacy IDAF system, such as
      applications are in .NET with Oracle database.</p>
  </div>

  <button (click)="openAccordion('nexa')"class="accordion">
    <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQGjn1Jys3rbQw/company-logo_100_100/0/1572982126437?e=1643241600&v=beta&t=l6GtOrOm_6Z1OAfuCFZnnUoK6daYN0-u454IWyYHbEE">
    <div>
      <h3>
        Service Desk Agent @ Nexa
      </h3>
      <p>
        Jun 2018 - Sep 2018
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="nexa">
    <p>Realizando atendimento nível 1° no contrato do Tribunal de Justiça, fechando e reabrindo chamados, concedendo permissões e informações nos sistemas utilizados no Tribunal de Justiça do Espirito Santo.</p>
  </div>

  <button (click)="openAccordion('unisales')"class="accordion">
    <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGCURqLw4YrlQ/company-logo_100_100/0/1583848234105?e=1643241600&v=beta&t=AFn0FkUWh4l9G2nsJ6_oYg6hIT5UXkRjppj4_ESwjaY">
    <div>
      <h3>
        Developer Trainee @ UniSales (Volunteer experience)
      </h3>
      <p>
        Apr 2018 - Jun 2018
      </p>
      <p>
        Vitória Área, Brazil
      </p>
    </div>
  </button>
  <div class="hidden-panel" id="unisales">
    <p>trainee developer, working with UML modelling, PHP, Mysql,html,css.

      Atuando como programador em um projeto não remunerado, desenvolvendo aplicações em PHP com Mysql, HTML e CSS.</p>
  </div>
</div>