<section class="articles-section" style="min-height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <!-- Elementos do fundo cyberpunk -->
    <div class="scanline"></div>
    
    <div class="articles-container" *ngIf="!isLoading && articles.length > 0; else loadingBox" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; max-width: 1200px; margin: 0 auto; padding: 20px;">
        <div *ngFor="let article of articles" class="article-card">
            <a href="{{article.link}}" target="_blank">
                <div class="article-image">
                    <img [src]="article.thumbnail" [alt]="article.title" onerror="this.src='https://miro.medium.com/max/1200/1*jfdwtvU6V6g99q3G7gq7dQ.png'; this.onerror=null;">
                </div>
                <div class="article-content">
                    <p class="title">{{article.title}}</p>
                    <p class="pub-date">Published: {{format_date(article.pubDate)}}</p>
                </div>
            </a>
        </div>
    </div>
    
    <div *ngIf="!isLoading && articles.length === 0" class="no-articles" style="text-align: center; max-width: 800px; margin: 0 auto; padding: 20px; height: 100%;">
        <h2>Nenhum artigo encontrado</h2>
        <p>Não foi possível carregar os artigos do Medium. Tente novamente mais tarde.</p>
    </div>
    
    <ng-template #loadingBox>
        <div class="loading-box" style="text-align: center; max-width: 800px; margin: 0 auto; padding: 20px; height: 100%; display: flex; align-items: center; justify-content: center;">
            <h1>Loading articles...</h1>
        </div>
    </ng-template>
</section>