<div class="about">
  <div class="text-box">
    <h1>About me</h1>
    <p>
      Hi, I'm Rafael Honório, or just Rafa. I'm a senior software engineer with
      a strong passion for technology, gaming, and continuous learning.
    </p>

    <p>
      Since I was a kid, I've always been curious about how things work behind
      the scenes. I loved video games and even took apart electronics (sorry,
      mom and dad) to understand them. My first taste of programming came from
      customizing a fighting game engine called M.U.G.E.N, written in C, which
      unknowingly launched my journey into software development.
    </p>

    <p>
      I started learning Java and object-oriented programming in a technical
      course around 2014. In 2020, I earned my degree in Information Systems.
      Over the past eight years, I’ve worked across multiple stacks for the
      first four years as a full-stack developer, after that,focusing on backend
      and infrastructure, especially with Elixir (4 years) and Go (2 years).
    </p>

    <p>
      Today, I work as a Senior Backend Engineer using Elixir and Go. My goals
      include becoming a great software architect, sharing knowledge with
      others, and continuing to grow professionally.
    </p>

    <p>
      Outside of work, I enjoy playing guitar 🎸, exploring new tech and diving
      into games.
    </p>

    <p>
      Want to know more about my work?
      <a routerLink="/work" id="work" (click)="activeButton('work')"
        >Click here</a
      >.
    </p>
  </div>
</div>
