<div class="about">
  <div class="text-box">
    <h1>About me</h1>
    <p>Hi, I'm Rafael Honório or Rafa, I'm a Software Enginner from Brazil!</p>
    <p>Since I was a kid I remember I really like video games and how their mechanism works behind the
       screen, I remember at that time how I was curious about these type of things, I was extremely fascinated
       and I wanted learn more, after a while, building e destroying things - video games, TVs, electronics
       in general (my parents did not like that haha) I had my first contact with programming language in M.U.G.E.N
       (it's a fight game) writed in C, but that moment I had no idea what was C or anything else about programming
       languages, but that was just the beginning.</p>
    <p>A few years went by, and I learned Java and OO programming in undergrad course (2014 ~ 2015)
       and then I went to college (2017), I got a degree in Information Systems, and now I have 3 years
       of experience as a software engineer, The story was shortened, of course haha (to more details <a routerLink="/work" id="work" (click)="activeButton('work')">click here</a>).</p>
    <p>Today I work with Elixir as a Backend Enginner and my goals is to become a good architect, share knowledge and learn a lot.</p>
    <p>That’s about it, I like games, tech and music (guitar) ;D I live in Brazil and I would like to work in another country to get know others cultures and people.</p>
  </div>
</div>
