<div class="about">
  <div class="text-box">
    <h1>About me</h1>
    <p>
      Hi, I'm Rafael Honório — or just Rafa. I'm a software engineer from Brazil
      with a strong passion for technology, games, and continuous learning.
    </p>

    <p>
      Since I was a kid, I've always been curious about how things work behind
      the scenes. I loved video games and often disassembled electronics (sorry,
      mom and dad 😅) just to understand them. My first contact with programming
      came from a fighting game engine called M.U.G.E.N, written in C. I didn’t
      know it at the time, but that moment sparked my journey into software
      development.
    </p>

    <p>
      I started learning Java and object-oriented programming in a technical
      course around 2014. In 2017, I earned my degree in Information Systems.
      Since then, I’ve worked across multiple stacks and have over 8 years of
      experience in the software industry — mainly focused on backend and
      infrastructure, especially with Elixir.
    </p>

    <p>
      Today, I work as a Senior Backend Engineer with Elixir, and my goals
      include becoming a great software architect, sharing knowledge with
      others, and continuing to grow professionally.
    </p>

    <p>
      Outside of work, I enjoy playing guitar 🎸, exploring tech, and diving
      into games. I'm based in Brazil, but I’m very interested in working
      remotely with international teams — not only to grow professionally but
      also to connect with different cultures and people around the world.
    </p>

    <p>
      Want to know more about my work?
      <a routerLink="/work" id="work" (click)="activeButton('work')"
        >Click here</a
      >.
    </p>
  </div>
</div>
