.app
  display: grid
  min-height: 100vh
  grid-template-columns: 1fr
  grid-template-rows: 100px 1fr 100px
  grid-template-areas: "header" "content" "footer"
  gap: 2em

@media(max-width: 700px)
  .app
    grid-template-columns: 1fr
    grid-template-rows: 100px 1fr 100px
    grid-template-areas: 'header' 'content' 'footer'

.header
  grid-area: header

.content
  grid-area: content

.footer
  display: flex
  align-items: center
  grid-area: footer
