.home
  display: flex
  justify-content: center
  img
    max-height: 450px
    max-width: 450px
    margin: 25px 45px 25px 25px
    display: inline-block

  span
    align-self: center
    display: inline-block
    margin: 10px 0px 10px 20px
    p
      font-size: 3em
      font-weight: 900
      color: white
