<section class="home">  
  <div class="content-wrapper" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
    <div class="apresentation">
        <h1>
          Hi, my name is
        </h1>
        <h2 data-text="Rafael Honório.">
          Rafael Honório.
        </h2>
        <div style="width: 100%"></div>
        <h3>
          I build things for the world.
        </h3>
        <p>
          I'm a software engineer specializing in building and designing exceptional distributed systems.  Currently, I'm focused on backend, in special to elixir and functional languages.
        </p>
        <div class="button-box">
          <div class="resume-container" style="position: relative;">
            <div class="resume" id="resumeButton" (click)="toggleNavButton()">
                Resume
            </div>
            <div class="resume-button hidden" id="resumes">
                <ul>
                    <li><a title="English Resume" href="/assets/resumes/resume_eng.pdf" download="resume_english.pdf">English</a></li>
                    <li><a title="Portuguese Resume" href="/assets/resumes/resume_por.pdf" download="resume_portuguese.pdf">Portuguese</a></li>
                </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="profile-image">
      <img src="/assets/cyberpunk_me.png" alt="Cyberpunk Profile" style="height: 80vh; object-fit: contain; max-width: 100%;">
    </div>
  </div>
</section>