$white: #fff
$light-grey: #bebebe
$black: #000

.home
  display: flex
  justify-content: center
  height: 100%
  animation: fadeInAnimation ease-in 2s
  animation-iteration-count: 1
  animation-fill-mode: forwards

  .apresentation
    margin: auto
    display: flex
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    align-items: flex-start
    height: 100%
    max-width: 1300px
    margin: 0px 25px
    transition: opacity 2s ease-in

    h1
      margin: 0px 0px 15px 4px
      font-size: clamp(14px, 5vw, 18px)
      font-weight: 500
      color: #845ec2
    h2
      margin: 0px 0px 0px 0px
      font-weight: 600
      font-size: clamp(20px, 8vw, 70px)
      line-height: 1.1
      color: $white
    h3
      line-height: 1
      margin: 10px 0px 0px 0px
      font-size: clamp(20px, 8vw, 66px)
      color: $light-grey

    p
      margin: 20px 0px 0px 0px
      padding: 0px 0px
      max-width: 540px
      color: $light-grey
  a
    margin: 30px 30px 30px 0px
    padding: 18px 54px
    text-decoration: none
    color: $white
    font-weight: 500
    border-radius: 40px
    background-color: #845ec2
    box-shadow: 3px 3px 5px 0px #353535
    transition: all 1s

  a:hover
    box-shadow: none

  @media(max-width: 410px)
    .apresentation
      margin: 0px 0px
      max-width: 300px

@keyframes fadeInAnimation
  0%
    opacity: 0

  100%
    opacity: 1
