<section class="home">
  <div class="apresentation">
      <h1>
        Hi, my name is 
      </h1>
      <h2>
        Rafael Honório.
      </h2>
      <h3>
        I build things for the world.
      </h3>
      <p>
        I’m a software engineer specializing in building and designing exceptional distributed systems.  Currently, I’m focused on backend, in special to elixir and functional languages.
      </p>
      <a title="Resume" href="/assets/resume2.pdf" download="resume.pdf">
        My Resume
      </a>
  </div>
</section>
