<section class="home">
  <div
    class="content-wrapper"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    "
  >
    <div class="apresentation">
      <h1>Hi, my name is</h1>
      <h2 data-text="Rafael Honório.">Rafael Honório.</h2>
      <div style="width: 100%"></div>
      <h3>I build things for the world!</h3>

      <p>
        I’m a Senior Software Engineer with over eight years of experience. In
        the first four years of my career, I worked as a full-stack developer;
        over the last four years, I’ve honed my focus on backend systems and
        cloud-native infrastructures. I thrive on tackling complex challenges
        with Elixir (4 years) and Go (2 years), distributed architectures, and
        clean-code practices to deliver scalable, resilient applications.
      </p>
      <p>
        In the finance and payments sector, I’ve architected card-issuance
        platforms, implemented QR-code payment solutions and powered digital
        banking services. I’ve spent the past two years building services and
        APIs in Go and Elixir—drawing on four years of Elixir and two years of
        Go experience. I have experience across AWS, GCP, and Azure DevOps, and
        I leverage Terraform, Helm, Docker, and Kubernetes to automate and
        optimize deployments. On the frontend, I’ve delivered engaging
        interfaces with Angular, Vue.js, and Ionic.
      </p>
      <p>
        Today, I’m dedicated to advancing Elixir and Go-based backends and
        collaborating with cross-functional teams to create products that drive
        real-world impact. <a href="/about">Learn more about my background</a>.
      </p>
      <div class="button-box">
        <div class="resume-container" style="position: relative">
          <div class="resume" id="resumeButton" (click)="toggleNavButton()">
            Resume
          </div>
          <div class="resume-button hidden" id="resumes">
            <ul>
              <li>
                <a
                  title="English Resume"
                  href="/assets/resumes/resume_eng.pdf"
                  download="resume_english.pdf"
                  >English</a
                >
              </li>
              <li>
                <a
                  title="Portuguese Resume"
                  href="/assets/resumes/resume_por.pdf"
                  download="resume_portuguese.pdf"
                  >Portuguese</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-image">
      <img
        src="/assets/images/rhs_tech2.png"
        alt="Cyberpunk Profile"
        style="height: 80vh; object-fit: contain; max-width: 100%"
      />
    </div>
  </div>
</section>
