/* You can add global styles to this file, and also import other style files */
*
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  text-decoration-style: none

html, body
  min-height: 100%

a
  text-decoration: none

ol, ul, li
  list-style: none
